{% extends "base.html" %}

{% block title %}
{{len(objects)}} items
{% endblock %}

{% block body %}
    <style>
        .actions_row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
        }
    </style>
    {% for item in objects %}
        <div class="db_item">
            <b>{{ item.getDbIds() }}</b>
            <div>
                <div>
                    <div>
                        <a href="?i=App.Objects.Object&uuids={{item.getDbIds()}}&act=display&as={{item._getNameJoined()}}&ref={{current_url_encoded}}">{{_("client.objects.view_as_self")}}</a>
                    </div>
                    <div>
                        <a href="?i=App.DB.Search&storage={{item.getDbName()}}&linked_to={{item.getDbIds()}}&act=linked_to&display_page_as={{item._getNameJoined()}}">{{_("client.objects.view_links.as_self")}}</a>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>{{_("client.collections.name")}}</td>
                            <td>
                                {% if item.obj.name %}
                                    <div>{{ item.obj.name }}</div>
                                {% endif %}
                                {% if item.local_obj.name %}
                                    <div><b>{{_("client.objects.local_name")}}</b></div>
                                    <div>{{ item.local_obj.name }}</div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{_("client.objects.description")}}</td>
                            <td>
                                {% if item.obj.description %}
                                    <div>{{ item.obj.description }}</div>
                                {% endif %}
                                {% if item.local_obj.description %}
                                    <div><b>{{_("client.objects.local_description")}}</b></div>
                                    <div>{{ item.local_obj.description }}</div>
                                {% endif %}
                            </td>
                        </tr>

                        {% if len(item.local_obj.saved_via) > 0 %}
                        <tr>
                            <td>{{_("client.objects.custom")}}</td>
                            <td>
                                {% for saved_item in item.local_obj.saved_via %}
                                    <div>
                                        <a href="/?i=App.Objects.Object&uuids={{item.getDbIds()}}&act=display&as={{saved_item.object_name}}">{{saved_item.object_name}}</a>
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if item.local_obj.created_at %}
                        <tr>
                            <td>{{_("client.objects.created_at")}}</td>
                            <td> {{ item.local_obj.created_at }} </td>
                        </tr>
                        {% endif %}
                        {% if item.obj.created_at %}
                        <tr>
                            <td>{{_("client.objects.declared_created_at")}}</td>
                            <td> {{ item.obj.created_at }} </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>{{_("client.collections.type")}}</td>
                            <td>
                                <a href="?i=App.Objects.Index.Get&name={{ item._getNameJoined() }}">{{ item._getNameJoined() }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>{{_("client.objects.storage")}}</td>
                            <td>
                                <a href="?i=App.Storage.Item.Get&name={{ item.getDbName() }}">{{ item.getDbName() }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{_("client.objects.id")}}</td>
                            <td>
                                {{ item.getDbId() }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="actions_row">
                <div>
                    <div>
                        <a href="{{current_url}}&act=view_json">{{_("client.objects.view_json")}}</a>
                    </div>
                    <div>
                        <a href="{{current_url}}&act=view_json&include_nones=1">{{_("client.objects.view_json_with_none")}}</a>
                    </div>
                    <div>
                        <a href="{{current_url}}&act=show_thumbnails&ref={{current_url_encoded}}">{{_("client.objects.show_thumbnails")}}</a>
                    </div>
                </div>
                <div>
                    <!--<div>
                        <a href="?i=App.Objects.Operations.Edit.Edit&item={{item.getDbIds()}}">{{_("client.objects.edit_fields")}}</a>
                    </div>-->
                    <div>
                        <a href="?i=App.Objects.Operations.Edit.Edit&item={{item.getDbIds()}}&act=json">{{_("client.objects.edit_json")}}</a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="?i=App.DB.Search&storage={{item.getDbName()}}&linked_to={{item.getDbIds()}}&act=linked_to">{{_("client.objects.view_links")}}</a>
                    </div>
                    <div>
                        <a href="?i=App.DB.Link&item={{item.getDbIds()}}">{{_("client.objects.link.with")}}</a>
                    </div>
                    <div>
                        <a href="?i=App.DB.Link&item={{item.getDbIds()}}&act=to">{{_("client.objects.link.to")}}</a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="?i=App.DB.Search&storage={{item.getDbName()}}&only_object={{item._getNameJoined()}}">{{_("client.objects.show_familiar")}}</a>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="/?i=App.Storage.Movement.Save&items={{item.getDbIds()}}&ref={{current_url_encoded}}">{{_("client.objects.copy")}}</a>
                    </div>
                    <div>
                        <a href="?i=App.Objects.Operations.Edit.Local&item={{item.getDbIds()}}">{{_("client.objects.edit")}}</a>
                    </div>
                    <div>
                        <a href="?i=App.Objects.Operations.Edit.Local&item={{item.getDbIds()}}&as={{item._getNameJoined()}}">{{_("client.objects.edit.as_self")}}</a>
                    </div>
                    <div>
                        <a href="?i=App.Storage.Movement.Delete&item={{item.getDbIds()}}">{{_("client.delete")}}</a>
                    </div>
                </div>
            </div>

            {% if item.obj.is_forced %}
                <div>
                    <div>
                        <a href="/?i=App.Objects.Operations.DefaultExecutorWheel&name=App.Objects.Operations.ExecuteById&preset_param_item={{item.getDbIds()}}">{{_("client.object.execute")}}</a>
                    </div>
                </div>

                <hr>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
