{% extends "base.html" %}

{% block title %}
{{len(objects)}} items
{% endblock %}

{% block body %}
    {% for item in objects %}
        <div class="db_item">
            <b>{{ item.getDbIds() }}</b>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>
                                {% if item.obj.name %}
                                    <div>{{ item.obj.name }}</div>
                                {% endif %}
                                {% if item.local_obj.name %}
                                    <div><b>Local name</b></div>
                                    <div>{{ item.local_obj.name }}</div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Descriptions</td>
                            <td>
                                {% if item.obj.description %}
                                    <div>{{ item.obj.description }}</div>
                                {% endif %}
                                {% if item.local_obj.description %}
                                    <div><b>Local description</b></div>
                                    <div>{{ item.local_obj.description }}</div>
                                {% endif %}
                            </td>
                        </tr>

                        {% if len(item.local_obj.saved_via) > 0 %}
                        <tr>
                            <td>Custom objects</td>
                            <td>
                                {% for saved_item in item.local_obj.saved_via %}
                                    <div>
                                        <a href="/?i=App.Objects.Object&uuids={{item.getDbIds()}}&act=display&as={{saved_item.object_name}}">{{saved_item.object_name}}</a>
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Object created at</td>
                            <td> {{ item.local_obj.created_at }} </td>
                        </tr>
                        <tr>
                            <td>Declared created at</td>
                            <td> {{ item.obj.created_at }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>Storage</td>
                            <td>
                                <a href="?i=App.Storage.Item.Get&name={{ item.getDbName() }}">{{ item.getDbName() }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>
                                {{ item.getDbId() }}
                            </td>
                        </tr>
                        <tr>
                            <td>Prototype</td>
                            <td>
                                <a href="?i=App.Objects.Index.Get&name={{ item._getNameJoined() }}">{{ item._getNameJoined() }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div>
                <div>
                    <div>
                        <a href="?i=App.Objects.Object&uuids={{item.getDbIds()}}&act=display&as={{item._getNameJoined()}}&ref={{current_url_encoded}}">View as self</a>
                    </div>
                    <div>
                        <a href="?i=App.DB.Search&storage={{item.getDbName()}}&linked_to={{item.getDbIds()}}&act=linked_to">View links</a>
                    </div>
                    <div>
                        <a href="?i=App.DB.Search&storage={{item.getDbName()}}&linked_to={{item.getDbIds()}}&act=linked_to&display_page_as={{item._getNameJoined()}}">View links as self</a>
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <a href="{{current_url}}&act=view_json">View JSON</a>
                    </div>
                    <div>
                        <a href="{{current_url}}&act=view_json&include_nones=1">View JSON with None values</a>
                    </div>
                    <div>
                        <a href="{{current_url}}&act=show_thumbnails&ref={{current_url_encoded}}">Show thumbnails</a>
                    </div>
                </div>
                <hr>
                <div>
                    <!--<div>
                        <a href="?i=App.Objects.Operations.Edit.Edit&item={{item.getDbIds()}}">{{_("client.objects.edit_fields")}}</a>
                    </div>-->
                    <div>
                        <a href="?i=App.Objects.Operations.Edit.Edit&item={{item.getDbIds()}}&act=json">{{_("client.objects.edit_json")}}</a>
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <a href="?i=App.DB.Link&item={{item.getDbIds()}}">Link with...</a>
                    </div>
                    <div>
                        <a href="?i=App.DB.Link&item={{item.getDbIds()}}&act=to">Link to...</a>
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <a href="?i=App.DB.Search&storage={{item.getDbName()}}&only_object={{item._getNameJoined()}}">Show familiar</a>
                    </div>
                </div>

                <hr>

                <div>
                    <div>
                        <a href="/?i=App.Storage.Movement.Save&items={{item.getDbIds()}}&ref={{current_url_encoded}}">{{_("client.objects.copy")}}</a>
                    </div>
                    <div>
                        <a href="?i=App.Objects.Operations.Edit.Local&item={{item.getDbIds()}}&as={{item._getNameJoined()}}">{{_("client.objects.edit")}}</a>
                    </div>
                    <div>
                        <a href="?i=App.Storage.Movement.Delete&item={{item.getDbIds()}}">Delete</a>
                    </div>
                </div>
            </div>
            <hr>

            {% if item.obj.is_forced %}
                <div>
                    <div>
                        <a href="/?i=App.Objects.Operations.DefaultExecutorWheel&name=App.Objects.Operations.ExecuteById&preset_param_item={{item.getDbIds()}}">{{_("client.object.execute")}}</a>
                    </div>
                </div>

                <hr>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
