{% extends "base.html" %}

{% block title %}
{{len(objects)}} items
{% endblock %}

{% block body %}
    {% for item in objects %}
        <div>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>
                                {% if item.obj.name %}
                                    <div>{{ item.obj.name }}</div>
                                {% endif %}
                                {% if item.local_obj.name %}
                                    <div><b>Local name</b></div>
                                    <div>{{ item.local_obj.name }}</div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Descriptions</td>
                            <td>
                                {% if item.obj.description %}
                                    <div>{{ item.obj.description }}</div>
                                {% endif %}
                                {% if item.local_obj.description %}
                                    <div><b>Local description</b></div>
                                    <div>{{ item.local_obj.description }}</div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Object created at</td>
                            <td> {{ item.local_obj.created_at }} </td>
                        </tr>
                        <tr>
                            <td>Declared created at</td>
                            <td> {{ item.obj.created_at }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>Storage</td>
                            <td>
                                <a href="?i=App.Storage.Item.Get&name={{ item.getDbName() }}">{{ item.getDbName() }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>
                                {{ item.getDbId() }}
                            </td>
                        </tr>
                        <tr>
                            <td>Prototype</td>
                            <td>
                                <a href="?i=App.Objects.Index.Get&name={{ item._getNameJoined() }}">{{ item._getNameJoined() }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>JSON</td>
                            <td>
                                <div>
                                    <a href="{{current_url}}&act=view_json">Show</a>
                                </div>
                                <div>
                                    <a href="{{current_url}}&act=view_json&include_nones=1">Show with None values</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div>
                <div>
                    <a href="?i=App.Objects.Object&uuids={{item.getDbIds()}}&act=self_displayment">View as self</a>
                </div>
                <div>
                    <a href="?i=App.DB.Search&storage={{item.getDbName()}}&public=0&linked_to={{item.getDbIds()}}">Show links</a>
                </div>
                <div>
                    <a href="?i=App.DB.Search&storage={{item.getDbName()}}&only_object={{item._getNameJoined()}}">Show familiar</a>
                </div>
                <div>
                    <a href="?i=App.DB.Link&item={{item.getDbIds()}}">Link with</a>
                </div>
                <div>
                    <a href="?i=App.Objects.Operations.Edit.Local&item={{item.getDbIds()}}">Edit</a>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
