{% extends "base.html" %}

{% block title %}
{{_("client.namespaces")}}
{% endblock %}

{% block body %}
    <a href="/?i=App.Objects.Index.GetList"><<< {{_('client.namespaces.all')}}</a>
    <div>
        <h2>{{ namespace.name }}</h2>
    </div>

    <div>
        <a href="?i=App.Objects.Index.ObjectsList&name={{ namespace.name }}">Objects</a>
    </div>

    <div>
        <hr>
    </div>
    <div>
        <b>{{_("client.namespaces.path")}}:</b>

        <div>
            {{ namespace.root }}
        </div>
    </div>
{% endblock %}
