{% extends "base.html" %}

{% block title %}
{{ _("client.namespaces") }}
{% endblock %}

{% block body %}
    <div>
        <a href="/?"><<< Index</a>
    </div>

    <b>{{ _("client.namespaces") }}:</b>
    <div id='namespaces'>
        {% for item in namespaces %}
            <div><a href="?i=App.Objects.Index.Namespaces.Get&name={{ item.name }}">{{ item.name }}</a></div>
        {% endfor %}
    </div>

    <div>
        <hr>
        <a href="/?i=App.Objects.Index.ObjectsList">All them together</a>
    </div>
{% endblock %}
