{% extends "base.html" %}

{% block title %}
{{ obj.get_name_for_dictlist() }}
{% endblock %}

{% block body %}
    <div>
        {% if displayment %}
            <div>
                <div>
                    <a href="/?i={{displayment.get_for_object()}}">{{displayment._getNameJoined()}}</a>
                </div>
            </div>
        {% endif %}
        <h2>{{ obj.get_name_for_dictlist() }}</h2>
        {% if obj.is_inited == False %}
            <a href="?i=App.Objects.Index.Get&name={{ obj.get_name_for_dictlist() }}&load=1">{{ _('objects.do_load') }}</a>
        {% else %}
            {% set obj_module = obj.getModule() %}
            {% set documentation = obj_module._documentation() %}
            <table>
                <tbody>
                    <tr>
                        <td>Class name</td>
                        <td>{{ obj_module._getNameJoined() }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ obj_module.self_name }}</td>
                    </tr>
                    {% if documentation %}
                    <tr>
                        <td>Name</td>
                        <td>{{ documentation.get_name() }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ documentation.get_description() }}</td>
                    </tr>
                    {% endif %}

                    {% if mro_items %}
                    <tr>
                        <td>Extend tree</td>
                        <td>
                        {% for item in mro_items %}
                            <div>
                                <a href="?i=App.Objects.Index.Get&name={{ item._getNameJoined() }}">{{ item._getNameJoined() }}</a>
                            </div>
                        {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Submodules</td>
                        <td>
                            <div>
                                <table>
                                    <tbody>
                                    {% for item in obj_module.getSubmodules() %}
                                        <tr>
                                            <td>
                                                <a href="?i=App.Objects.Index.Get&name={{ item.getItem()._getNameJoined() }}">{{ item.getItem()._getNameJoined() }}</a>
                                            </td>

                                            <td>
                                                <span>{{ ", ".join(item.role) }}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}

        {% if obj.is_inited %}
            <div>
                <hr>
                <div>
                    <a href="/?i=App.Objects.Operations.DefaultExecutorWheel&name={{obj.getModule()._getNameJoined()}}">Execute</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
