{% extends "base.html" %}

{% block title %}
Object
{% endblock %}

{% block body %}
    <div>
        <h2>{{ obj.get_name_for_dictlist() }}</h2>
        {% if obj.is_inited == False %}
            <a href="?i=App.Objects.Index.Get&name={{ obj.get_name_for_dictlist() }}&load=1">{{ tr('objects.do_load') }}</a>
        {% else %}
            {% set obj_module = obj.getModule() %}
            {% set documentation = obj_module._documentation() %}
            <table>
                <tbody>
                    <tr>
                        <td>Class name</td>
                        <td>{{ obj.getModule()._getNameJoined() }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ obj.getModule().self_name }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ obj.getModule()._documentation() }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Submodules</td>
                        <td>
                            {% for item in obj.getModule().getSubmodules() %}
                                <div>
                                    <a href="?i=App.Objects.Index.Get&name={{ item.item._getNameJoined() }}">{{ item.item._getNameJoined() }}</a>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}

        <div>
            <hr>
            <div>
                <a href="/?i=App.Objects.Operations.DefaultExecutorWheel&obj=">Execute</a>
            </div>
        </div>
    </div>
{% endblock %}
