{% extends "base.html" %}

{% block title %}
Objects list
{% endblock %}

{% macro recursive_list(items) %}
    {% for key, item in items.items() %}
        {% if key != "_items" and key != None %}
            <ul>
                <li>
                    {{ key }}
                </li>

                {% if hasattr(item, 'items') %}
                    {{ recursive_list(item) }}
                {% endif %}

                {% if item.get('_items') %}
                    <ul>
                        {% for val in item.get('_items') %}
                            <li>
                                <a href="?i=App.Objects.Index.Get&name={{ val.get('obj').get_name_for_dictlist() }}">{{ val.get('part') }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </ul>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block body %}
    {% if namespace %}
        <a href="/?i=App.Objects.Index.Namespaces.Get&name={{ namespace.name }}"><<< Namespace</a>
    {% else %}
        <a href="/?i=App.Objects.Index.GetList"><<< Namespaces</a>
    {% endif %}

    <div>
        <b>{{ _("client.index.total_count", total_count)}}</b>
    </div>
    <div id='objects'>
        {{ recursive_list(categories) }}
    </div>
{% endblock %}
