{% extends "base.html" %}

{% block title %}
Thumbnails
{% endblock %}

{% block body %}
    <style>
        img {
            max-width: 100%;
        }
    </style>
    {% for thumb in thumbnails %}
        <div>
            {% if thumb.item._getNameJoined() == "Media.Images.Image" %}
                <div>
                    <a target="_blank" href="{{thumb.item.get_url(True)}}">
                        <img src="{{thumb.item.get_url(True)}}">
                    </a>
                </div>
                <a href="{{url_for_object}}{{thumb.getItem().getDbIds()}}">...</a>
            {% else %}
                <span>unknown role</span>
            {% endif %}
        </div>

        <hr>
    {% endfor %}
{% endblock %}
