#content {
    background: #fcfcfc;
    padding: 10px 104px 10px 30px;
}

#upper {
    margin-top: -8px;
    margin-left: 30px;
    display: block;
    width: fit-content;
    min-width: 136px;
    background: #dfdddd;
    padding: 3px 7px;
}

#upper_bar {
    width: 100%;
    height: 25px;
    left: 0;
    position: absolute;
    z-index: -1;
    background: #dfdddd87;
}

#upper_bar #bookmarks {
    height: 100%;
    padding: 0px 0px 0px 188px;
}

#upper #upper_menu {
    display: flex;
    justify-content: space-between;
}

#upper .divider {
    padding: 0px 1px;
    display: inline-block;
}

#upper_divider {
    padding: 7px 0px;
}

#special_message {
    border-bottom: 1px solid #eadfdf;
    padding: 1px 1px 5px 1px;
}

#floating_menu {
    position: fixed;
    right: 0;
    opacity: 0.05;
    transition: opacity 200ms ease-in-out;
    padding: 25px 5px 0px 0px;
    text-align: right;

    overflow-y: auto;
    max-height: 96vh;

    background: white;
}

#floating_menu:hover {
    opacity: 1;
}

textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 20px;
    max-height: 500px;
}

textarea.heighted {
    min-height: 600px;
    max-height: unset;
}

.displayment_back {
    font-size: 10px;
}

.gallery_item img {
    max-height: 50vh;
}

body {
    word-break: break-word;
    word-wrap: break-word;
}
