#content {
    background: #fcfcfc;
    padding: 10px 30px;
}

#upper {
    margin-top: -8px;
    margin-left: 30px;
    display: block;
    width: fit-content;
    min-width: 136px;
    background: #dfdddd;
    padding: 3px 7px;
}

#upper_bar {
    width: 100%;
    height: 25px;
    left: 0;
    position: absolute;
    z-index: -1;
    background: #dfdddd87;
}

#upper_bar #bookmarks {
    height: 100%;
    padding: 0px 0px 0px 188px;
}

#upper #upper_menu {
    display: flex;
    justify-content: space-between;
}

#upper .divider {
    padding: 0px 1px;
    display: inline-block;
}

#upper_divider {
    padding: 7px 0px;
}

#special_message {
    border-bottom: 1px solid #eadfdf;
    padding: 1px 1px 5px 1px;
}

#floating_menu {
    position: fixed;
    right: 0;
    top: 25px;
    opacity: 0.05;
    transition: opacity 200ms ease-in-out;
}

#floating_menu:hover {
    opacity: 1;
}

textarea {
    width: 100%;
}

textarea.heighted {
    height: 100px;
}

.displayment_back {
    font-size: 10px;
}
