#content {
    background: #fcfcfc;
    padding: 10px 160px 10px 30px;
}

#upper {
    margin-top: -8px;
    margin-left: 30px;
    display: block;
    width: fit-content;
    min-width: 136px;
    background: #f4caff;
    padding: 3px 7px;
}

#upper_bar {
    width: 100%;
    height: 25px;
    left: 0;
    position: absolute;
    z-index: -1;
    background: #c886bd87;
}

#upper_bar #bookmarks {
    height: 100%;
    padding: 0px 0px 0px 188px;
}

#upper #upper_menu {
    display: flex;
    justify-content: space-between;
}

#upper .divider {
    padding: 0px 1px;
    display: inline-block;
}

#upper_divider {
    padding: 7px 0px;
}

#special_message {
    border-bottom: 1px solid #eadfdf;
    padding: 1px 1px 5px 1px;
}

#floating_menu {
    position: fixed;
    right: 0;
    padding: 25px 5px 0px 0px;
    text-align: right;

    overflow-y: auto;
    max-height: 96vh;

    background: #fffcfc85;
}

.search_items .search_item {
    border-bottom: 1px solid #8888887d;
    padding: 0px 0px 5px 0px;
    display: grid;
    grid-template-columns: 1fr 0fr;
}

.search_items .search_item a {
    text-decoration: none;
    font-size: 12px;
    width: 100px;
}

.less_visible {
    opacity: 0.05;
    transition: opacity 200ms ease-in-out;
}

.less_visible:hover {
    opacity: 1;
}

textarea {
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    min-height: 20px;
    max-height: 500px;
}

textarea.heighted {
    min-height: 600px;
    max-height: unset;
}

input[type='text'] {
    width: 80%;
}

form tr input[type='text'] {
    width: 100%;
}

.displayment_back {
    font-size: 10px;
}

.gallery_item img {
    max-height: 50vh;
}

body {
    word-break: break-word;
    word-wrap: break-word;
    font-family: cursive;
    background: #9f92cd80;
}

.options_hidden {
    display: none;
}

#shadows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

#shadows #main_shadow {
    height: 100px;
    background: #bdc1ca;
    position: relative;
}

#index_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 4px;
}

#index_container .title {
    font-size: 18px;
}

#index_container > div {
    width: 45%;
}

#index_container .index_container_item {
    padding: 2px 16px;
    display: block;
    background: #eae9f1;
}

#index_container .index_container_item:hover {
    background: white;
}

#index_container #storages #storages_create {
    padding: 7px 4px;
    display: block;
}

#index_container .namespaces_search {
    padding: 5px 5px;
    background: #ecdcdc;
}

#index_container .namespaces_search form {
    display: flex;
    padding: 10px 10px;
}

#index_container #search > div {
    padding: 8px 8px;
}

#recursive_objects .recursed_object {
    padding: 9px 9px;
    border-left: 1px solid #9b8888;
    background: white;
}

#recursive_objects .recursed_object .recursed_object_title {
    background: white;
}

#recursive_objects .recursed_object .recursed_object_line {
    height: 1px;
    width: 11px;
    background: gray;
    margin-bottom: -10px;
    margin-left: -9px;
    cursor: pointer;
}

#recursive_objects .recursed_object .recursed_object_links {
    padding: 0px 0px 0px 4px;
    margin-left: -9px;
    background: #dddddd;
}

#recursive_objects .recursed_object.hidden .recursed_object_links {
    display: none;
}

.displayment_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
