body {
    padding: 0;
    margin: 0;
    background: #ffffff;
}

.logical-content-blocks .logical-block {
    width: 100%;
    min-height: 100vh;
}

.logical-block[data-id='tabs'] {
    position: fixed;
    width: 100vw;
    background:#fcfcfc;
    height: 50px;
}

.logical-block[data-id='content'] {
    padding-top: 50px;
    min-height: 90vh;
}

.logical-block[data-id='footer'] {
    background:#efefef;
    width: 100vw;
    height: 20%;
    position: fixed;
    bottom: 0;
    display: none;
}

.logical-block[data-id='sidebar'] {
    background:#f7faff;
}

.logical-content-blocks {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#objects_list {
    padding: 57px 10px 0px 14px;
}
