body {
    padding: 0;
    margin: 0;
    background: black;
}

.logical-block[data-id='tabs'] {
    position: fixed;
    width: 100vw;
    background:#fc00ef;
    height: 50px;
}

.logical-block[data-id='footer'] {
    background:#017f90;
    width: 100vw;
    height: 30px;
    position: fixed;
    bottom: 0;
}

.logical-block[data-id='sidebar'] {
    background:rgb(0, 89, 255);
}

.logical-content-blocks {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.logical-content-blocks .logical-block {
    width: 100%;
    min-height: 100vh;
}
