<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 11px;
    }

    .gallery .gallery_item img {
        height: 81px;
    }
</style>

<div class="gallery">
    {% for item in items %}
        {% if item.media_type in ['image', 'video'] %}
            <div class="search_item gallery_item">
                <a href="{{url_for_object}}{{item.getDbIds()}}&act=display&as=Media.Images.Image&ref={{current_url_encoded}}">
                    <img src="{{item.get_url(True)}}" alt="{{item.any_description}}">
                </a>
            </div>
        {% elif item.media_type == 'audio' %}
            <div style="width:100%;">
                <a href="{{url_for_object}}{{item.getDbIds()}}">{{item.any_name}}</a>

                <div>
                    <audio src="{{item.get_url(True)}}" preload="none" controls></audio>
                </div>
            </div>
        {% else %}
            <a href="{{url_for_object}}{{item.getDbIds()}}">unsupported</a>
        {% endif %}
    {% endfor %}
</div>
