{% for item in items %}
    <div class="less_visible">
        <form method="POST">
            <div>
                <label>
                    <input type="checkbox" name="ignore_escaping" {% if ignore_escaping %}checked{% endif %}>
                    Don't escape HTML
                </label>
            </div>
            <input type="submit" value="OK">
        </form>
    </div>
    <div>
        {% for line in item.text.split('\n') %}
            {% if ignore_escaping %}
                {{ line|safe }}{% if not loop.last %}<br>{% endif %}
            {% else %}
                {{ line|e }}{% if not loop.last %}<br>{% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
