{% extends "base.html" %}

{% block title %}
{{ tr("client.index.title") }}
{% endblock %}

{% block body %}
    <div>
        <b>{{ tr("client.index.content") }}</b>

        <div>
            <a href="/?i=App.Objects.Index.GetList">{{ tr("client.namespaces") }}</a>
        </div>
        <div>
            <a href="/?i=App.Storage.Item.List">{{ tr("client.storages") }}</a>
        </div>

        <b>{{ tr("client.app") }}</b>

        <div>
            <a href="/?i=App.Config">{{ tr("client.config") }}</a>
        </div>
        <div>
            <a href="/?i=App">{{ tr("client.management") }}</a>
        </div>
    </div>
{% endblock %}
