<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} — {{ app_name or '...' }}</title>
    <link rel="stylesheet" href="static/client/css/style.css">
    <link rel="shortcut icon" href="static/client/favicon.png" type="image/x-icon">

    {% if theme and theme != '' %}
        <link rel="stylesheet" href="static/client/css/{{theme}}.css">
    {% endif %}

    <script src="static/client/js/funcs.js"></script>
</head>
<body>
    {% if global_app_categories %}
    <div class="less_visible" id="floating_menu">
        {% include "Components/menu.html" %}
    </div>
    {% endif %}

    <div id="content">
        {% if special_message %}
            <div id="special_message">
                <b>{{ special_message }}</b>
            </div>
        {% endif %}

        <div id="page">
            {% if ref %}
                <div>
                    <a href="{{ref}}"><< {{_("client.navigation.back_to_previous")}}</a>
                </div>
            {% endif %}

            {% block body %} {% endblock %} 
        </div>
    </div>
</body>
</html>
