<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} — {{ app_name or '...' }}</title>
    <link rel="stylesheet" href="static/client/css/style.css">

    <script src="static/client/js/funcs.js"></script>
    <script src="static/client/js/bookmarks.js"></script>
</head>
<body>
    <div id="upper_bar">
        <div id="bookmarks"></div>
    </div>

    {% if is_index %}
        <div></div>
    {% else %}
        {% if global_app_categories %}
        <div id="floating_menu">
            {% include "Components/menu.html" %}
        </div>
        {% endif %}
    {% endif %}

    {% if app_name %}
        <div id="upper">
            <div id="upper_menu">
                <a href="/">
                    <b>{{ app_name }}</b>
                </a>
                <div class="divider"></div>
                <a href="/?i=App&act=self_user">
                    {{ user.name }}
                </a>
            </div>
        </div>

        <div id="upper_divider"></div>
    {% endif %}

    <div id="content">
        {% if special_message %}
            <div id="special_message">
                <b>{{ special_message }}</b>
            </div>
        {% endif %}

        <div id="page">{% block body %} {% endblock %} </div>
    </div>
</body>
</html>
