{% extends "base.html" %}

{% block title %}
{{ obj._getNameJoined() }} (execute)
{% endblock %}

{% block body %}
    <a href="/?i=App.Objects.Index.Get&name={{obj._getNameJoined()}}"><< Object</a>
    <h2>{{ obj._getNameJoined() }}</h2>

    <form method="post">
        <div>
            {% if arguments %}
                {% for argument in arguments.toList() %}
                    <div>
                        <b>{{ argument.name }}</b>
                        <div>
                            <textarea name="{{argument.name}}">{{post_data.get(argument.name) or (argument.get_str_default() or (preset.get(argument.name) or ''))}}</textarea>
                        </div>
                    </div>
                {% endfor %}

                <div id='custom_args'></div>
                <div>
                    <label><input type="checkbox" checked value="1" name="stay">{{_("client.execute.stay_on_page")}}</label>
                </div>
            {% endif %}
            <div>
                <div>
                    {% if arguments and arguments.missing_args_inclusion == False %}
                        <div><b>{{_("client.execute.notice")}}</b></div>
                    {% endif %}
                    <input type="text" id="_add_name">
                    <input type="button" onclick="_add()" value="{{_('client.execute.insert')}}">
                </div>
            </div>
        </div>
        <input type="submit" value="{{_('client.execute.act')}}">
    </form>

    <script>
        function _add(name) {
            if (name == null) {
                name = document.querySelector('#_add_name').value
                document.querySelector('#_add_name').value = ''
            }
            if (name == '') {
                return
            }
            document.querySelector('#custom_args').insertAdjacentHTML('beforeend', `
                <div>
                    <b>${escapeHtml(name)}</b>
                    <div>
                        <textarea name="${escapeHtml(name)}"></textarea>
                    </div>
                </div>
            `)
        }
    </script>

    {% if data_htmls %}
        <div>
            {% for item in data_htmls %}
                {{item|safe}}
            {% endfor %}

            <hr>
        </div>
    {% elif data %}
        <div>
            <hr>
            <textarea class="heighted" name="results">{{data}}</textarea>
        </div>
    {% endif %}
{% endblock %}
