{% extends "base.html" %}

{% block title %}
Search
{% endblock %}

{% block body %}
    <form>
        <table>
            <tbody>
                <tr>
                    <td>Query</td>
                    <td>
                        <textarea style="height: 11px;max-width: 153px;" name="q">{{params.get('q') or ''}}</textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <label>
                            <input type="checkbox" name="q.in_description" {% if params.get('q.in_description') %}checked{%endif%}>
                            in description
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>In storage</td>
                    <td>
                        <input type="text" name="storage" value="{{params.get('storage') or ''}}">
                    </td>
                </tr>
                <tr>
                    <td>Show unlisted</td>
                    <td>
                        <input type="checkbox" name="show_unlisted" {% if params.get('show_unlisted') == 'on' %}checked{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>Ascend</td>
                    <td>
                        <input type="checkbox" name="ascend" {% if params.get('ascend') %}checked{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>Per page</td>
                    <td>
                        <input type="text" name="per_page" value="{{per_page}}">
                    </td>
                </tr>
                <tr>
                    <td>Object name</td>
                    <td>
                        <input type="text" name="only_object" value="{{params.get('only_object') or ''}}">
                    </td>
                </tr>
                <tr>
                    <td>Display as</td>
                    <td>
                        <input type="text" name="display_as" value="{{params.get('display_as') or ''}}">
                    </td>
                </tr>
                <tr>
                    <td>Display this page as</td>
                    <td>
                        <input type="text" name="display_page_as" value="{{params.get('display_page_as') or ''}}">
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="i" value="App.DB.Search">
        <input type="hidden" name="linked_to" value="{{params.get('linked_to') or ''}}">
        <input type="hidden" name="after" value="{{after}}">

        <input type="submit" value="Search">  
    </form>
    <hr>
    <div>
        <b style="display:none;">{{ _("client.index.total_count", total_count) }}</b>

        <div>
            <div class="search_items">
                {{search_html|safe}}
            </div>

            <div id="pages">
                {% if before_url %}
                <a href="?{{before_url}}"><</a>
                {% endif %}
                {% if after_url %}
                    <a href="?{{after_url}}">></a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
