{% extends "base.html" %}

{% block title %}
{{_("client.objects.search")}}
{% endblock %}

{% block body %}
    <div>
        <script>
            function _toggle_options() {
                document.querySelector('form').classList.toggle('options_hidden')
            }
        </script>

        <div>
            {% if act == 'linked_to' %}
                <div>
                    {% if _item %}
                        <div>
                            <a href="/?i=App.Storage.Item.Get&name={{_item.name}}">
                                << {{_("client.index.back")}}
                            </a>
                        </div>

                        <div>
                            <a href="/?i=App.Objects.Operations.Create&storage={{_item.name}}&ref={{current_url_encoded}}">+ Create</a>
                        </div>
                    {% endif %}

                    {% if _object %}
                        <div>
                            <a href="/?i=App.Objects.Object&uuids={{_object}}">
                                << {{_("client.index.back")}}
                            </a>
                        </div>

                        <div>
                            <a href="/?i=App.Objects.Operations.Create&db_item={{_object}}&ref={{current_url_encoded}}">+ Create</a>
                        </div>
                    {% endif %}
                </div>
                <hr>
            {% endif %}

        </div>

        {% if show_search %}
            <div></div>
        {% else %}
            <div>
                <a href="javascript:_toggle_options()">{{_("client.objects.search.toggle_params")}}</a>
            </div>
        {% endif %}

        <style>
            .options_shown {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 12px;
            }

            .options_shown > div {
                display: flex;
                justify-content: end;
            }
        </style>

        <form {% if show_search %}class="options_shown"{% else %}class="options_hidden"{% endif %}>
            <table>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="act" value="{{current_url.query.get('act') or ''}}">
                            <input type="hidden" name="linked_to_type" value="{{current_url.query.get('linked_to_type') or ''}}">
                            <input type="hidden" name="i" value="App.DB.Search">
                            <input type="hidden" name="linked_to" value="{{params.get('linked_to') or ''}}">
                            <input type="hidden" name="after" value="{{after}}">
                        </td>
                    </tr>
                    <tr>
                        <td>{{_("client.objects.search.query")}}</td>
                        <td>
                            <input type="text" name="q" value="{{params.get('q') or ''}}">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label>
                                <input type="checkbox" name="q.in_description" {% if params.get('q.in_description') %}checked{%endif%}>
                                {{_("client.objects.search.in_description")}}
                            </label>
                        </td>
                    </tr>

                    {% if params.get('storage') %}
                    <tr>
                        <td>{{_("client.objects.search.in_storage")}}</td>
                        <td>
                            <input type="hidden" name="storage" value="{{params.get('storage')}}">
                            <a href="/?i=App.Storage.Item.Get&name={{params.get('storage')}}">
                                {{params.get('storage')}}
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>{{_("client.objects.search.show_unlisted")}}</td>
                        <td>
                            <input type="checkbox" name="show_unlisted" {% if params.get('show_unlisted') == 'on' %}checked{% endif %}>
                        </td>
                    </tr>
                    <tr>
                        <td>{{_("client.objects.search.show_temporary")}}</td>
                        <td>
                            <input type="checkbox" name="show_tmp" {% if params.get('show_tmp') %}checked{% endif %}>
                        </td>
                    </tr>
                    <tr>
                        <td>{{_("client.objects.search.ascend")}}</td>
                        <td>
                            <input type="checkbox" name="ascend" {% if params.get('ascend') %}checked{% endif %}>
                        </td>
                    </tr>
                    <tr>
                        <td>{{_("client.objects.search.per_page")}}</td>
                        <td>
                            <input type="text" name="per_page" value="{{per_page}}">
                        </td>
                    </tr>
                    <tr>
                        <td>{{_("client.objects.search.object_name")}}</td>
                        <td>
                            <input type="text" name="only_object" value="{{params.get('only_object') or ''}}">
                        </td>
                    </tr>
                    <tr>
                        <td>{{_("client.objects.search.display_as")}}</td>
                        <td>
                            <input type="text" name="display_as" value="{{params.get('display_as') or ''}}">
                        </td>
                    </tr>
                    <tr>
                        <td>{{_("client.objects.search.display_as_page")}}</td>
                        <td>
                            <input type="text" name="display_page_as" value="{{params.get('display_page_as') or ''}}">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <input type="submit" value="{{_('client.objects.search')}}">  
            </div>
        </form>
    </div>

    <hr>
    <div>
        <b style="display:none;">{{ _("client.index.total_count", total_count) }}</b>

        <div>
            <div class="search_items">
                {{search_html|safe}}
            </div>

            <div id="pages">
                {% if before_url and params.get('storage') %}
                <a href="?{{before_url}}"><</a>
                {% endif %}
                {% if after_url and params.get('storage') and current_page_count >= params.get('limit') %}
                    <a href="?{{after_url}}">></a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
