{% extends "base.html" %}

{% block title %}
Browse
{% endblock %}

{% block body %}
    <b>{{ path.join() }}</b>
    <div id='storages'>
        <a href="?i=App.Storage.VirtualPath.Navigate&path={{ path.prev() }}">
            ..
        </a>

        {% for item in items.getItems() %}
            <div>
                <span>{{ item.obj.name or item._getNameJoined() }}</span>

                <a href="?i=App.Objects.Object&uuids={{item.getDbIds()}}">
                    <sup>{{ item.getDbIds() }}</sup>
                </a>

                <a href="?i=App.Storage.VirtualPath.Navigate&path={{ '{0}/{1}'.format(path.join(), item.getDbId(True)) }}/">
                    >
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
