{% extends "base.html" %}

{% block title %}
{{_("client.storages.create_collection.title")}}
{% endblock %}

{% block body %}
    <form method="post">
        <table>
            <tbody>
                <tr>
                    <td>{{_("client.collections.name")}}</td>
                    <td>
                        <input type="text" name="todolist_name">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="{{_('client.create')}}">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
