{% extends "base.html" %}

{% block title %}
Options
{% endblock %}

{% block body %}
    <div>
        <a href="{{back}}"><< {{_("client.web_pages.back")}}</a>
    </div>

    <div>

    <div>
        <form method="get">
            <input type="hidden" name="i", value="Web.Pages.Page">
            <input type="hidden" name="item", value="{{item.getDbIds()}}">
            <input type="hidden" name="web_act" value="render_page">
            <input type="hidden" name="as" value="Web.Pages.Page">

            <table>
                <tbody>
                    <tr>
                        <td>Encoding</td>
                        <td>
                            <input type="text" name="encoding" value="utf-8">

                            <div>
                                Detected encoding is: 
                                <span>{{item.html.encoding}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Disable JS</td>
                        <td>
                            <input type="checkbox" name="disable_js">
                        </td>
                    </tr>
                    <tr>
                        <td>Disable CSS</td>
                        <td>
                            <input type="checkbox" name="disable_css">
                        </td>
                    </tr>
                    <tr>
                        <td>Remove elements</td>
                        <td>
                            <input type="text" name="remove_selectors">
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Show">
        </form>
    </div>
{% endblock %}
