{% extends "base.html" %}

{% block title %}
{{item.any_name}}
{% endblock %}

{% block body %}
    <div class="webpage">
        <div>
            <a href="{{back}}"><< {{item.getDbIds()}}</a>
        </div>

        <h4>{{item.any_name}}</h4>

        <div>
            {% if thumb %}
                <a href="{{fullsize_thumb_url or '#'}}">
                    <img class="thumb" src="{{thumb.get_url(True)}}">
                </a>
            {% endif %}
        </div>
        <div>
            <ul>
                <li>
                    <a href="{{url}}render_page">{{_("client.web_page.show_page")}}</a>
                </li>
                <li>
                    <a href="{{url}}options">{{_("client.web_page.options")}}</a>
                </li>
                <li>
                    <a href="{{url}}text_only">{{_("client.web_page.text_only")}}</a>
                </li>
                <li>
                    <a href="{{url}}meta">{{_("client.web_page.meta")}}</a>
                </li>
                <li>
                    <a href="{{url}}hyperlinks&ref={{current_url_encoded}}">{{_("client.web_page.hyperlinks")}}</a>
                </li>
                <li>
                    <a href="{{url}}media&ref={{current_url_encoded}}">{{_("client.web_page.media")}}</a>
                </li>
                <li>
                    <a href="{{url}}images&ref={{current_url_encoded}}">{{_("client.web_page.images")}}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
