<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/client/css/style.css">
</head>
<body>
    {% if app_name %}
        <div id="upper">
            <div>
                <a href="/">
                    <b>{{ app_name }}</b>
                </a>
                <div class="divider"></div>
                <a href="/?i=App&act=self_user">
                    {{ user.name }}
                </a>
            </div>
        </div>

        <div id="upper_divider"></div>
    {% endif %}

    <div id="content">
        {% if error %}
            <div id="error">
                <b>{{ error }}</b>
            </div>
        {% endif %}

        <div id="page">{% block body %} {% endblock %} </div>
    </div>
</body>
</html>
