{% extends "base.html" %}

{% block title %}
{{_("client.delete")}}
{% endblock %}

{% block body %}
    <a href="/?i=App.Objects.Object&uuids={{item.getDbIds()}}"><< {{_("client.index.back")}}</a>

    <form method="post">
        <div>
            <span>UUIDs</span>
            <div>
                <textarea name="uuids" placeholder="uuids">{{','.join(uuids)}}</textarea>
            </div>
        </div>
        <div>
            <label>
                <input type="checkbox" name="remove_links">
                {{_("client.delete.remove_links")}}
            </label>
        </div>
        <input type="submit" value="Delete">
    </form>
{% endblock %}
