{% extends "base.html" %}

{% block title %}
{{_("client.objects.edit")}}
{% endblock %}

{% block body %}
    <a href="/?i=App.Objects.Object&uuids={{item.getDbIds()}}"><< {{_("client.index.back")}}</a>

    <form method="post">
        <table>
            <tbody>
                <tr>
                    <td>{{_("client.objects.name")}}</td>
                    <td>
                        <input type="text" name="name" value="{{item.any_name or ''}}">
                    </td>
                </tr>
                <tr>
                    <td>{{_("client.objects.description")}}</td>
                    <td>
                        <textarea name="description" id="">{{item.local_obj.description or ''}}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>{{_("client.objects.is_collection")}}</td>
                    <td>
                        <input value="1" type="checkbox" name="collection" {% if item.local_obj.collection %}checked{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>{{_("client.objects.public")}}</td>
                    <td>
                        <input value="1" type="checkbox" name="public" {% if item.local_obj.public %}checked{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>{{_("client.objects.edit.allow_dynamic_links")}}</td>
                    <td>
                        <input value="1" type="checkbox" name="dynamic_links" {% if item.local_obj.dynamic_links %}checked{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>{{_("client.objects.pseudo")}}</td>
                    <td>
                        <input type="text" name="saved_via" value="{{','.join(custom_saved_via)}}">
                    </td>
                </tr>
            </tbody>
        </table>

        <input type="submit" value="{{_('client.save')}}">
    </form>
{% endblock %}
