{% extends "base.html" %}

{% block title %}
{{_("client.objects.links.create")}}
{% endblock %}

{% block body %}
    <a href="/?i=App.Objects.Object&uuids={{item.getDbIds()}}"><< {{_("client.index.back")}}</a>

    <form method="post">
        <div>
            <textarea name="with" placeholder="{{act}}... (ids)"></textarea>
        </div>
        <div>
            <textarea name="role" placeholder="{{_('client.objects.links.roles_comma')}}"></textarea>
        </div>
        <div>
            <label>
                <input type="checkbox" name="unlink">
                {{_("client.objects.links.unlink")}}
            </label>
        </div>
        <div>
            <input type="submit" value="Link">
        </div>
    </form>
{% endblock %}
