{% extends "base.html" %}

{% block title %}
New storage
{% endblock %}

{% block body %}
    <style>
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
    <a href="/?i=App.Storage.Item.List"><< {{_("client.index.back")}}</a>
    <hr>
    <form method="POST">
        <div>
            <input type="text" name="name" placeholder="Name of new storage">
        </div>

        <span>{{_("client.storages.add.tip")}}</span>

        <div>
            <input type="submit" value="{{_('client.create')}}">
        </div>
    </form>
{% endblock %}
