{% extends "base.html" %}

{% block title %}
{{ _("client.storages") }}
{% endblock %}

{% block body %}
    <b>{{ _("client.storages") }}</b>
    {% if show_internal %}
        <b></b>
    {% else %}
        <a href="/?i=App.Storage.Item.List&show_internal=on">{{_("client.storage.show_internal")}}</a>
    {% endif %}

    <div id='storages'>
        {% for item in storages %}
            <div>
                <a href="?i=App.Storage.Item.Get&name={{ item.name }}">{{ item.any_name }}</a>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div>
        <a href="?i=App.Storage.Item.Create">+ {{_("client.storages.add")}}</a>
    </div>
{% endblock %}
